body .container .jumbotron {
  background-color: lightgrey;
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}{

  font-size: 16px;
  color: black;
  background-color: lightblue;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: yellow;
  border-radius: 0;
  border: 0;
}

.text-center {
  color: black;
  font-weight: bold;
  font-size: 36px;
        }




.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: blue;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

@media (min-width:768px) {
  .hidden-l {
    display: none !important;
    }
/* END HEADER */

/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}


/********** Medium devices only **********/
@media (min-width: 992px) {


  /* Home Page */
  .container .jumbotron {
    background: lightgrey no-repeat;
    color: black;
    height: 600px;
  }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: lightgrey no-repeat;
    color: black;
    height: 800px;
  }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .container .jumbotron {
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
    background: black no-repeat;
    height: 200px;
    color: black;
    margin-top: 30px;
    padding: 0;
  }

  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw;
  }

  #collapsable-nav a { 
    font-size: 1.2em;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
}
